---
title: 'This is my Site Title'
---
<!DOCTYPE html>
<html>
<head>
  <title>WebSketch {% if page.url != '/index.html' %}| {{page.title}}{% endif %}</title>
  <meta charset='UTF-8'/>
  <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
  <link rel='alternate' type='application/rss+xml' title='RSS' href='SITEURLGOESHERE/blog.rss' />
  <link rel='shortcut icon' href='{{site.baseurl}}/img/favicon.ico' type='image/x-icon' />
  <link href='{{site.baseurl}}/site.css' rel='stylesheet' />
  <link href='{{site.baseurl}}/prism.css' rel='stylesheet' />
  <script type="text/javascript">
      var host = "inxsvf.github.io";
      if ((host == window.location.host) && (window.location.protocol != "https:"))
          window.location.protocol = "https";
  </script>
</head>
<body>
    {{content}}
  <script type="text/javascript" src='{{site.baseurl}}/site.js'></script>
  <script type="text/javascript" src='{{site.baseurl}}/prism.js'></script>
  <script type="text/javascript">
    var _cd_options = { theme: 'dark' };
  </script>
  <script src="https://www.savenetneutrality.eu/widget.js"></script>
</body>
